@page "/signUp"
@layout AccountLayout
@rendermode InteractiveServer
@inject NavigationManager nav


<div class="card">
<img src="images/MinsuLogo.png">
<h1>Mindoro State University</h1>
<input type="text" placeholder="Email">
<input type="password" placeholder="Password">
<button type="submit">Sign up</button>
</div>
